:root {
  --main-color: #0d6efd;
  --tmp-color: #ecf4ff;
}

/* .carousel-inner:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.488);
  z-index: 1;
} */

