
.navbar{
  height: 5rem;
}
.nav-link {
  font-size: 1.2rem;
  font-weight: 400;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #0d6efd !important;
}

.active-link {
  color: #0d6efd !important;
}
